// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.h-screen {
    height: 100vh;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #38b2ac;
    border-color: #38b2ac; 
}